@charset "utf-8";


/* 모양맞추기 */
.join{
    position: absolute;
    padding: 50px;
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -45%);
    box-shadow: 5px 5px 7px #c8c8c8c8;
}

h1{
    font-size: 40px;
    text-align: center;
}

td{
    border:1px solid black;
    width: 200px;
    height: 5px;
}

hr{
    width: 290px;
    border: 3px solid;
    margin-left: 0;
}


.pass input:focus{
    border-color: #CA1A5A;
    outline: none;
    
}

/* 눈 */
.Passwordset .pass{
    position: relative;
    
}


.Passwordset .pass #passSet1{
   
   width: 440px;
   height: 40px;
   border-radius:4px;
}

.Passwordset .pass #passSet2{
   
    width: 440px;
    height: 40px;
    border-radius:4px;
 }

.Passwordset .pass .btn{
    position: absolute;
    width: 20px;
    height: 17px;
    top: 0;
    bottom: 0;
    right: 60px;
    margin: auto 0;
    border-radius: 3px;
    cursor: pointer;
}

/*  체크 표시 */
.check input[type="checkbox"]
{
    display: none;
  
}


.check input[type="checkbox"] + label{
    display: inline-block;
    position: relative;
    padding-left:30px;
    
    
  
}

.check input[type="checkbox"] + label::before{
    display: inline-block;
    content:'';
    font-size: 20px;
    width: 10px;
    height: 10px;
    line-height:20px;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
    

}

.check input[type="checkbox"]:checked + label::before{
    content:'✔';
    background-color: white;
    color:#C4C4C4;
}

.check{
    color : #C4C4C4;
}

/* 넘어가요 */
.bt{
    width: 450px;
    height: 50px;
    background-color: #b1b1b1;
    border: none;
    color:white;
   
}

input{
    padding-left: 10px;
    box-shadow: 5px 5px 7px #eeeeee;
}